<article class="front">
  <section class="flexy">
  <img src="https://www.ecartelera.com/images/sets/32400/32431.jpg">
  </section>

    <section class="flexy">
      {% for post in site.posts limit: 1%}
      {% assign author = site.data.authors[post.author] %}

    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p><time datetime="{{ post.date }}">
      <small>
        <strong>{{ post.date | date_to_string }}</strong>
        {% if author %}
          by {{ author.name }}
        {% endif %}
      </small>
    </time></p>
    <p><small>{{ post.intro_paragraph }}</small></p>
    <p>{{ post.content }}</p>
    <p>
    <audio preload="auto" controls="" style="width:100%;height:40px;">
        <source src="https://tympanus.net/Development/AudioPlayer/audio/BlueDucks_FourFlossFiveSix.mp3">
    </audio>
    </p>
  {% endfor %}

  <div style="padding-left:3%;">

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>
   </section>
</article>
