<div class="gridsq">
  <div class="main-sq"><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architizer.png" alt=""></div>
  <div class="main-sq-text" ><p><strong>Entrevista con Diana Gardeneira</strong><br />Ganadora de la sexagésmia edición del Salón de Julio - Pintura «Fundación de Guayaquil», veinte minutos donde cuenta sobre su activismo y la plástica que nace de su pincel. Ganadora de la sexagésmia edición del Salón de Julio - Pintura «Fundación de Guayaquil», veinte minutos donde cuenta sobre su activismo y la plástica que nace de su pincel.</p>
  </div>
  <div ><p style="text-align:right;"><a href="#">ESTE ES UN LINK</a></p></div>
  <div ><img src="https://www.museoarteyciudad.com/assets/dreamers.svg" alt=""></div>
  <div ><img src="https://www.museoarteyciudad.com/assets/CCENG.svg" alt=""></div>
  <div ><p><a href="#">ESTE ES UN LINK</a></p></div>
</div>
