<div class="grids">
  {% assign capsulas = site.capsulas | sort: 'listing-priority' %}
  {% for capsulas in capsulas limit: 5 %}

  <div class="item">
    {% if capsulas.image %}
    <img src="{{ capsulas.image }}" alt="Fotografía de {{ capsulas.title }}"/>
    {% endif %}
    <h2 ><a href="{{ capsulas.url }}">{{ capsulas.title }}</a></h2>
    {% if capsulas.subtitle %}
    <h3>{{ capsulas.subtitle }}</h3>
    {% endif %}
    <p class="intro">{{ capsulas.intro_paragraph }}</p>
    <p>{{ capsulas.excerpt | strip_newlines | truncate: 327 }}</p>
  </div>
  {% endfor %}
</div>
