.grids {
  grid-column: full;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 5rem;
  margin-block-end: 10rem;
}

.item {
  background-color:rgba(240,156,117,1); /* best colour */
  border-radius: 3px;
  > img {
    margin: 0;
    padding-bottom: 1.7rem;
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
  > h1, h2  {
    padding: 0 1rem;
    margin-bottom: 0;
  }
  > h3 {
    margin: .7rem 1rem;
  }
  > p {
  padding: 0 1rem 1.5rem 1rem;
  }
}
.item:nth-child(2) {
  background-color: rgba(236,239,241,.8);
}

.item:nth-child(3) {
  background-color: rgba(236,239,241,.6);
}

.item:nth-child(4) {
  background-color: rgba(236,239,241,.4);
}

h2 {
a,
a:visited {
  text-decoration: none;
  border: 0;
  color: #1a1a1a;
  @media screen and (min-width: $screen-sm-min) {
    padding: 0;
  }
}
a:hover {
  color:$brand-color;
}
}


.item {
  grid-column: auto;
  @media only screen and (max-width: 35em) {
    grid-column: auto;
  }
}
